<div class="flex flex-col gap-4 md:gap-0 items-end md:items-center md:flex-row my-5 space-x-4 w-full mx-auto max-w-4xl px-4 lg:max-w-7xl lg:px-8">
  <div class="bg-gray-custom font-xs text-white px-3 py-1 rounded">
    <span class="font-bold">6,799</span> Available Listings
  </div>
  <div class="flex-grow hidden md:block"></div>
  <button class="bg-green-blue text-white text-xs font-bold px-4 py-2 rounded hover:bg-teal-800">
    SAVE SEARCH
  </button>

  <button class="border border-2 border-[#01576E] text-xs font-bold text-green-blue px-4 py-2 rounded hover:bg-gray-100">
    SHARE
  </button>

  <div class="relative inline-block text-left">
    <button id="dropdownButton" class="inline-flex justify-center w-full rounded border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none">
      Newest Listings
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#01576E">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>

    <div id="dropdownMenu" class="origin-top-right hidden absolute right-0 mt-2 w-56 rounded shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-[1]">
    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
      <%= link_to "Newest Listings", root_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", role: "menuitem" %>
      <%= link_to "Oldest Listings", root_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", role: "menuitem" %>
      <%= link_to "Price: Low to High", root_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", role: "menuitem" %>
      <%= link_to "Price: High to Low", root_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", role: "menuitem" %>
    </div>
  </div>
  

  </div>
</div>
<%= javascript_include_tag 'components/dropdown' %>
